apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: university-postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 1Gi
