server:
  port: 8761

spring:
  application:
    name: discovery-server

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  instance:
    hostname: discovery-server.default.svc.cluster.local
  server:
    eviction-interval-timer-in-ms: 60000
