server:
  port: 9090

spring:
  application:
    name: api-gateway

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server.default.svc.cluster.local:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG