server:
  port: ${SERVER_PORT:3002}
  servlet:
    context-path: /api

spring:
  application:
    name: university-service

  datasource:
    url: jdbc:postgresql://university-postgres.default.svc.cluster.local:5432/university_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server.default.svc.cluster.local:8761/eureka

logging:
  level:
    root: INFO
    com.universities: DEBUG
    org.springframework.web: INFO

auth:
  service:
    url: ${AUTH_SERVICE_URL:http://auth-service.default.svc.cluster.local:8081}
    verify-endpoint: ${AUTH_VERIFY_ENDPOINT:/api/auth/verify}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: when_authorized

papertrail:
  endpoint: "https://logs.collector.ap-01.cloud.solarwinds.com/v1/logs"
  token: "TYi9-9QRQgoeE0ThX7PqE-N_RQ21vjeEIbH42mxDKnjtffuVnb6AZJu4KDUvkjRb_08nIi4"
